<!-- About Section -->

<header class="w3-display-container w3-grayscale-min w3-opacity-min top" id="about_head">
	<span class="titles w3-padding-large w3-black w3-xlarge w3-wide">אודות</span>
</header>

<div class="w3-container" id="about">
    <div class="content w3-right" dir="rtl">
        <p>
				בתור שוכרי דירות בישראל, נאלצנו להתמודד עם חוסר ודאות והיעדר מידע אמין לגבי הדירות בשוק.<br/>
				חששות ושאלות רבות מציפות אותנו לפני שאנחנו נכנסים לבית חדש:<br/>
			<span>
				<ul >
					<li class="li_cont">האם בצעתי בדיקה יסודית של הדירה?</li>
					<li class="li_cont">האם המחיר תואם את ההיצע באיזור?</li>
					<li class="li_cont">כיצד אני יכול לדעת אם אני עושה את ההחלטה הנכונה?</li>
				</ul>
			</span>
        </p>

		<p>
			בעזרת <a ui-sref="checklist" target="_blank" style="color:blue">  הצ'ק ליסט של דה רנטר</a>  תוכל/י לקבל החלטות נבונות לפני כניסה לבית חדש ולשתף את המידע עם חבריך.
			הצ'ק ליסט הוא כלי שאנחנו שמחים להציג בפניכם, אבל הוא רק ההתחלה.
			בעוד חמש שנים שוק השכירות יהיה שונה - לשוכר יהיו יותר כלים וידע להתמודדות עם חייו בשוק השכירות.
		</p>
		<p>
			שוכרי דירות בישראל יחיו בסביבה הוגנת ושופעת מידע שמטיבה עם חייהם.<br/>
		</p>
		<p>
			<b>מטרת "דה רנטר" היא לאפשר לשוכרי דירות לקבל החלטות נבונות בחייהם בשוק השכירות.</b>
		</p>
	</div>
</div>
