<md-dialog aria-label="Thank You" dir="rtl">
    <form ng-cloak>
        <md-toolbar dir="ltr">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times w3-large" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content w3-center">
                <h3>סיימת למלא!</h3>
                <p>

                </p>
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row" class="w3-hide-small" style="margin-bottom: 10px">
            <md-button ui-sref="myChecklists" target="_blank" class="w3-button w3-margin" style="background-color:#ffd633">צפה בצ'קליסטים שלך
            </md-button>
            <span flex></span>
            <md-button ui-sref="blog" target="_blank" md-autofocus class="w3-button w3-lime w3-margin">לבלוג
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" target="_self" md-autofocus class="w3-button w3-margin" style="background-color:lightblue">סגור
            </md-button>
        </md-dialog-actions>

        <md-dialog-actions layout="column" class="w3-hide-large w3-hide-medium" style="padding:0 16px;">
            <md-button flex-xs="300" ui-sref="myChecklists" target="_blank" class="w3-small" style="background-color:#ffd633" style="margin-top: 0px">צפה בצ'קליסטים שלך
            </md-button>
            <span flex></span>
            <md-button flex-xs="300" ui-sref="blog" target="_blank" class="w3-small w3-lime">לבלוג
            </md-button>
            <span flex></span>
            <md-button flex-xs="300" ng-click="cancel()" target="_self" md-autofocus class="w3-small" style="background-color:lightblue">סגור
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>